/* src/App.css */
.app-container {
  padding-top: 20px; /* Ajusta el relleno superior según sea necesario */
}

/* Estilos adicionales para el NavBar */
nav {
  background-color: #333; /* Color de fondo del NavBar */
  color: white; /* Color del texto del NavBar */
  padding: 10px 20px; /* Ajusta el relleno del NavBar según sea necesario */
}
